.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
